@page "{id:int}"
@model Biblioteca.Pages.Pages.Livro.Delete
<link rel="stylesheet" href="~/lib/css/estilo.css"/>
<div>
    <h1>Deseja realmente remover?</h1>
    
    <p><strong>Título do Livro:</strong> @Model.LivroModel.TituloLivro </p>
    <p><strong>Autor:</strong> @Model.LivroModel.Autor </p>
    <p><strong>ISBN:</strong> @Model.LivroModel.ISBN </p>
    <p><strong>Ano de publicação:</strong> @Model.LivroModel.AnoPublicacao </p>
    <p><strong>Quantidade Disponível:</strong> @Model.LivroModel.QuantidadeDisponivel </p>
</div>

<form method="post">
    <div class="form-group">
        <input type="submit" value="Sim" class="btn btn-danger"/>
        <a asp-page="/Livro/Index" class="btn btn-primary"> Voltar</a>
    </div>
</form>